body {
    background-image: url('https://img.pixers.pics/pho_wat(s3:700/FO/57/52/15/09/700_FO57521509_b2010948ae5507fd7b08ac9aae6d0b45.jpg,700,575,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,525,jpg)/carte-da-parati-vino-con-vigneto-su-sfondo.jpg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

img {
    max-height: 300px;
    object-fit: contain;
}

.card {
    background: rgba(255, 255, 255, 0.693);
    transition: box-shadow 1s, color .5s;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 25px 0px rgb(201, 223, 7);
        color: rgb(252, 252, 10);
    }
}

.location::before {
    font-family: Fontawesome;
    content: '\f3c5';
    margin-right: 7px;
}

.h_70_vh{
    height: 70vh;
}

//-----------------

html {
    scrollbar-width: thin; /* Puoi usare thin, auto o none */
    scrollbar-color: yellow rgba(255, 0, 0, 0); /* Colore del bottone e della traccia */
}

/* Per i browser che supportano le nuove specifiche CSS */
* {
    scrollbar-width: thin; /* Riduce la larghezza della scrollbar */
    scrollbar-color: yellow rgba(255, 0, 0, 0); /* Colore del bottone (primo colore) e della traccia (secondo colore) */
}

*::-webkit-scrollbar {
    width: 12px; /* Larghezza della scrollbar */
    height: 12px; /* Altezza della scrollbar, per le scrollbar orizzontali */
}

*::-webkit-scrollbar-track {
    background: transparent; /* Colore della traccia della scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: yellow; /* Colore del bottone della scrollbar */
    border-radius: 10px; /* Arrotondamento degli angoli del bottone */
    border: 2px solid transparent; /* Bordo del bottone per evidenziare il contrasto */
}

//-----------------
